[
 ;; poem
 
 {:db/id #db/id[:db.part/db]
  :db/ident :poem/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/index true
  :db/doc "A poem's title"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :poem/text
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The text of a poem"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :poem/analysis
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The analysis of a poem -- a string representing edn data"
  :db.install/_attribute :db.part/db}
]
